# azure-pipelines.yml
trigger:
  - main
 
pool:
  vmImage: 'ubuntu-latest'
 
variables:
  buildConfiguration: 'Release'
  dockerRegistryServiceConnection: 'ACR-Fleetzone'
  dockerImageName: 'fleetzoneacr.azurecr.io/fleetzone-app'
 
steps:
  # -------------------------------
  # Instalar o .NET 9 SDK
  # -------------------------------
  - task: UseDotNet@2
    displayName: 'Instalar .NET 9 SDK'
    inputs:
      packageType: 'sdk'
      version: '9.0.x'
      installationPath: $(Agent.ToolsDirectory)/dotnet
 
  # -------------------------------
  # Restaurar pacotes NuGet
  # -------------------------------
  - task: DotNetCoreCLI@2
    displayName: 'Restaurar pacotes NuGet'
    inputs:
      command: 'restore'
      projects: '**/*.csproj'
 
  # -------------------------------
  # Build do projeto
  # -------------------------------
  - task: DotNetCoreCLI@2
    displayName: 'Build do projeto'
    inputs:
      command: 'build'
      projects: '**/*.csproj'
      arguments: '--configuration $(buildConfiguration)'
 
  # -------------------------------
  # Executar testes (opcional)
  # -------------------------------
  - task: DotNetCoreCLI@2
    displayName: 'Executar testes'
    inputs:
      command: 'test'
      projects: '**/*.csproj'
      arguments: '--configuration $(buildConfiguration)'
 
  # -------------------------------
  # Publicar artefatos
  # -------------------------------
  - task: DotNetCoreCLI@2
    displayName: 'Publicar artefatos'
    inputs:
      command: 'publish'
      projects: '**/*.csproj'
      arguments: '--configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)'
 
  - task: PublishBuildArtifacts@1
    displayName: 'Publicar artefato no DevOps'
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)'
      ArtifactName: 'drop'
 
  # -------------------------------
  # Build e Push da imagem Docker (.NET 9)
  # -------------------------------
  - task: Docker@2
    displayName: 'Build e Push da Imagem Docker (.NET 9)'
    inputs:
      containerRegistry: $(dockerRegistryServiceConnection)
      repository: $(dockerImageName)
      command: 'buildAndPush'
      Dockerfile: 'SafeCap/Dockerfile'
      buildContext: 'SafeCap'
      tags: 'latest'
 
  # -------------------------------
  # Deploy no Azure Web App via Docker
  # -------------------------------
  - task: AzureWebAppContainer@1
    displayName: 'Deploy no Azure Web App via Docker'
    inputs:
      azureSubscription: 'Azure-Fleetzone'
      appName: 'app-fleetzone-sprint4'
      containers: '$(dockerImageName):latest'